@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3gtvqe');
    src:  url('../fonts/icomoon.eot?3gtvqe#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3gtvqe') format('truetype'),
      url('../fonts/icomoon.woff?3gtvqe') format('woff'),
      url('../fonts/icomoon.svg?3gtvqe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-decoration: none;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
    content: "\e901";
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  .icon-twitter:before {
    content: "\e902";
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  .icon-facebook:before {
    content: "\e903";
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  .icon-github:before {
    content: "\e904";
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  .icon-menu:before {
    content: "\e900";
    color: white;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
  
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
}
.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(31, 38, 44, 0.48);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 5;
    margin: 10px 0 0 10px;

}
.container {
    height: inherit;
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    flex: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    margin: 0px;
}
h1 strong{
    color: gray;
}
h2 {
    font-family: 'Sourse Sans Pro', sans-serif;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.header {
    height: 70px;
    background-color: #1f262c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu {
    height: inherit;
    display: inherit;
}
.header ol{
    list-style: none;
    display: inherit;
    align-items: center;
}
.header ol li :hover{
    background: #475764;
    transition: all 0.4s linear;
}
.header-link {
    text-decoration: none;
    padding: 10px;
    color: white;
}

/* HERO */
.hero {
    background-color: #1f262c;
    display: flex;
    font-family: 'Fjalla One', serif;
    justify-content: space-between;
    color: white;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
}
.hero h1 {
    font-size: 40px;
    letter-spacing: -.2px;
    line-height: 150%;
}
.hero figure img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-left: 0;
}

.portfolio {
    padding: 20px;
    display: inherit;
    flex-wrap: wrap;
    background: #fafafa;
}
.project {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
}
.project-details {
    /* justify-content: space-between; */
    width: 50%;
}
.project-imageContainer{
    width: 50%;
}
.project-imageContainer img{
    max-width: 100%;
    width: 100%;
}

.project-title{
    font-size: 30px;
}
.project-course {
    font-family: 'Fjalla One';
}
.project-date strong{
    font-family: 'Fjalla One';
    font-size: initial;
}
.project-source strong{
    font-family: 'Fjalla One';
    font-size: large;
}

.events {
    display: flex;
    flex-wrap: wrap;
}
.card-event {
    width: 48%;
    margin: 1%;
    border-radius: 20px;
    overflow: hidden;
    background: #f4fbff;
}
.card-event-details {
    background: white;
    margin: 20px;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description {
    text-align: left;
    margin-bottom: 6%;
}
.card-event figure{
    margin: 0;
    padding: 0;
}
.card-event-image {
    object-fit: cover;
}
.event-button {
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: gray;
    padding: 5px 20px;
}

.contact {
    height: 155px;
    display: flex;
    background-color: #323e47;
    flex-wrap: wrap;
}

.form-email button {
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    background: transparent;
    color: white;
    width: 100px;
    margin: 10px auto 0;
    border-radius: 5px;

}

.contact h3 {
    font-family: 'Sourse Sans Pro', sans-serif;
    color: white;
}
.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 10px 25px;
    background-image: url(https://i.imgur.com/8BPxYXA.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    margin: 0px 10px;
    text-decoration: none;
}

/* .social-link.twitter {
    background-image: url('https://i.imgur.com/Jcv9EVk.png');
}
.social-link.facebook {
    background-image: url('https://i.imgur.com/cF1qzpI.png');
}
.social-link.github {
    background-image: url('https://i.imgur.com/fv3ho0V.png');
}
.social-link.instagram {
    background-image: url('https://i.imgur.com/QYcAR8O.png');
} */

.footer {
    background: #1f262c;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.footer img {
    vertical-align: middle;
}
.footer a {
    color: #056fff;
    text-decoration: none;
}
.flexible {
    position: relative;
    padding-top: 56.25%;
}
.youtube-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* DESKTOP FIRST */

@media screen and (max-width: 1024px){
    .container {
        padding: 0 .9em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    h1 {
        font-size: 1.5em;
        z-index: 2;
    }
    .hero img{
        position: absolute;
        z-index: 1;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        filter: opacity(80%) blur(1px);
    }
   
}

@media screen and (max-width: 767px){
    .burger-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .menu {
        position: fixed;
        background-color: rgba(65, 105, 225, .8);
        z-index: 3;
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .menu.is-active {
        left: 0;
    }
    .header .logo {
        text-align: center;
    }

    .project {
        display: block;
    }
    .project-imageContainer {
        text-align: center;
        width: auto;
    }
    .project-details {
        width: auto;
        font-size: 16px;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-source, .project-source strong {
        font-size: 1em;
    }
    .project-course {
        font-size: .8em;
    }
    .project-date, .project-date strong{
        font-size: 1em;
    }
    .project-description {
        font-size: 1em;
    }
    .project-course, .project-date, .project-source {
        margin: .4em 0;
    }

    .card-event {
        width: auto;
    }
    .card-event-image {
        width: 100%;
        object-position: 25% 25%;
    }
    
}

@media screen and (max-width: 552px){
    h1 {
        font-size: 1.5em;
    }
    .project-details {
        font-size: 12px;
    }
    .card-event-details {
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button {
        margin: 1em auto;
    }
    .footer {
        display: block;
        text-align: center;

    }
}

@media screen and (max-width: 465px){
    .hero h1 {
        font-size: 1.5em;    
    }
}
@media screen and (max-width: 320px){
    .hero {
        padding: 2em 1em;
    }
}
