    /* reglas estan conformadas por:
•selectores: como identificamos un elementeo HTML
•declaraciones: todo lo que hacemos con el selector
•propiedades: cosas que podemos hacer con esos elementos
•valores: cosas que esperan recibir como variables las propiedades

selector de etiqueta
header - section - nav 
header {
    background: pink;
    color: red
}

selector descendente
body header div nav ol li a

Selector de clase
.nombre_de_la_clase

    Selector de id #
#nombre_de_id*/



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

.logo {
    margin-top: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    margin: 0px;
    /* text-transform: uppercase;
    text-decoration: underline; */
}
h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Sourse Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.menu {
    height: inherit;
}

.header {
    height: 70px;
    background-color: #1f262c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ol {
    display: flex;
    height: inherit;
}

ol, ul { 
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-color: #1f262c;
    /* background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat; */
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    /* border-top-left-radius: 30px; */
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-bottom: 10px solid green;
    border-left: 10px solid green; */
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project strong {
    font-family: 'Fjalla One';
}

.project-course, .project-date, .project-url{
    margin: 10px 0;
}

.project-details  {
    width: 50%;
}

.project-description {
    font-size: 20px;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;

}

/* .project-imageContainer {
    width: 50%;
} */

.footer {
    color: white;
    background: #1f262c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-imageContainer {
    margin: 0px;
}
.event-list {
    display: flex;
    flex-wrap: wrap;
}
.event-list-title {
    margin-left: 20px;
}
.event {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;    
}

.event-detail {
    text-align: center;
    margin: 20px;
    margin-top: -40px;
    background-color: #fff;
    margin-top: -40px;
    position: relative;
    padding: 20px;
}

.event-description {
    text-align: left;
}

.description-url {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    margin: 0px 10px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}
.social-link.facebook {
    background-image: url('../images/facebook.svg');
}
.social-link.github {
    background-image: url('../images/github.svg');
}
.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email h3{
    font-family: 'Sourse Sans Pro', sans-serif;
}
.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    background: transparent;
    color: white;
    width: 100px;
    margin: 10px auto 0;
    border-radius: 5px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    height: inherit;
    justify-content: inherit;
    align-items: inherit;
    display: inherit;
    flex-wrap: inherit;
}